<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Tweet Papers</h1>
    <h4>When you can't fit the profound in 140 characters.</h4>

    <div class="prompt">
      <p>To get started, copy + paste the url of the a tweet from the tweet essay.</p>
      <form class="tweet-url-form" id="tweet-url-form" action="index.html" method="get">
        <input type="text" placeholder="Tweet URL" id="tweet-url-text"/>
        <input type="Submit"/>
      </form>
    </div>

    <div class="Tweet Essay">

    </div>

    <script type="text/javascript" charset='utf-8' >
      
    </script>
  </body>
</html>
