<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <title>Tweet Papers</title>
  </head>
  <body>
    <h1>Tweet Papers</h1>
    <h4>When you can't fit the profound in 140 characters.</h4>

    <div class="prompt">
      <p>To get started, copy + paste the url of the a tweet from the tweet essay.</p>
      <form class="tweet-url-form" id="tweet-url-form">
        <input type="text" placeholder="Tweet URL" class="Tweet-URL-text" id="tweet-url-text"/>
        <input type="Submit" value="Compose Essay" id="tweet-submit"/>
      </form>
    </div>
    <br>
    <div class="Tweet-Essay">

    </div>

    <script type="text/javascript" charset='utf-8' >

    </script>
  </body>
</html>
