<!DOCTYPE html>
<html>
  <head>
    <title>TweetPapers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Tweet Papers</h1>
    <h4>When you can't fit the profound in 140 characters.</h4>
    <%= yield %>
  </body>
</html>
